$enable-negative-margins: true;

$primary: rgb(118, 174, 85);
$secondary: rgb(232, 232, 232);
$dark: rgb(13, 30, 38);

$navbar-light-active-color: $primary;

$carousel-indicator-width: 8px;
$carousel-indicator-height: 8px;

$headings-font-weight: bold;
$headings-font-family: "Raleway", sans-serif;
$font-family-sans-serif: "Aktiv Grotesk", sans-serif;
$font-family-monospace: "NOH45", monospace;
