:root {
    --read-more-text: "Read more";
    --read-less-text: "Read less";
}

.cursor-pointer {
    cursor: pointer;
}

.relative-unset {
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
}

.bg-contacts {
    background: rgb(232, 232, 232)
        url("/img/icons/background/background_contacts.png");
}

.resize-none {
    resize: none;
}

.read-more .collapsing {
    transition: none;
}

.read-more .collapse:not(.show) ~ .read-more-ellipsis {
    display: inline-block;
}
.read-more .collapse.show ~ .read-more-ellipsis {
    display: none;
}

.read-more .collapse:not(.show) ~ .btn-read-more::before {
    content: var(--read-more-text);
}
.read-more .collapse.show ~ .btn-read-more::before {
    content: var(--read-less-text);
}
.read-more .collapse.show ~ .btn-read-more .icon {
    transform: scaleX(-1);
}

.multiline {
    white-space: pre-wrap;
}
